<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>查询车次</title>
	</head>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css" />
	<script src="js/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
	<script src="./bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<div class="container">
			<div class="panel-heading">
				<div class="col-md-4">
					<img src="img/shangbiao.png" height="65px" width="300px">
				</div>
				<ul class="nav nav-pills" style="font-size:18px;padding-top:10px ;">
					<li class="col-md-1"></li>
					<li class="active"> <a href="index.html">网站首页</a></li>
					<li class="col-md-1"></li>
					<li><a href="main.html">在线下单</a></li>
					<li class="col-md-2"></li>
					<#if user??>
					<span class="glyphicon glyphicon-user" style="padding-top: 10px;"></span><a href="login.html" style="font-size: 14px;margin-left: 15px;">${user.username}</a>
					<#else>
					<span class="glyphicon glyphicon-user" style="padding-top: 10px;"></span><a href="login.html" style="font-size: 14px;margin-left: 15px;">登录</a>
					|<a href="register.html" style="font-size: 14px;display: inline;padding-left: 5px;">注册</a>
				</#if>
				</ul>
			</div>
		</div>
		<div class="container" style="height: 550px;border: #000000 1px solid;">
			<div class="row panel-body">
				<div class="col-md-offset-4 col-md-4">
					<span class="place1"><strong>株洲</strong></span>&nbsp;&nbsp; -->
					<span class="place2"><strong>${endstation}</strong></span>
					&nbsp;&nbsp;
					(<span class="time"><strong>${day}</strong></span>)
					&nbsp;&nbsp;
					&nbsp;&nbsp;
					共计<span id="train">
						<strong>${total?default("0")}</strong>
					</span>
					个车次
				</div>
			</div>
			<!-- borderd代表有边框，striped代表隔层有颜色 table-hover选择后高亮  table-condensed让格子更加紧凑-->
			<table class="table table-bordered text-center table-striped table-hover table-condensed ">
				<tr  style="background-color: #3b99fc;height: 50px;font-size: 20px;color: white;">
					<th style="vertical-align: middle;" class="text-center">车次</th>
					<th style="vertical-align: middle;" class="text-center">出发站</th>
					<th style="vertical-align: middle;" class="text-center">到达站</th>
					<th style="vertical-align: middle;" class="text-center">出发时间</th>
					<th style="vertical-align: middle;" class="text-center">到达时间</th>
					<th style="vertical-align: middle;" class="text-center">历时</th>
					<th style="vertical-align: middle;" class="text-center">剩余货箱数</th>
					<th style="vertical-align: middle;" class="text-center">备注</th>
				</tr>
				<#if trainList?? && (trainList?size > 0)>
				<#list trainList as train>
				<tr>
					<td>${train.trainid}</td>
					<td>株洲</td>
					<td>${train.endstation}</td>
					<td>${train.starttime}</td>
					<td>${train.endtime}</td>
					<td>${train.lishi}</td>
					<td>${train.carriage}</td>
					<td><button type="button" class="form-control" style="background-color: #337AB7 ;color: whitesmoke;">预定</button></td>
				</tr>
			   </#list>
			   <#else>
			   <tr>
				<td colspan="9" style="text-align: center">查无数据！</td>
			  </tr>
		       </#if>

			</table>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">2021@zhudinghuan &nbsp;&nbsp;&nbsp;&nbsp;版权所有，侵权必究</h4>
			</div>

		</div>
	</body>
</html>

</html>
