<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>确定订单</title>
	</head>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css" />
	<script src="js/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
	<script src="./bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<div class="container">
			<div class="panel-heading">
				<div class="col-md-4">
					<img src="img/shangbiao.png" height="65px" width="300px">
				</div>
				<ul class="nav nav-pills" style="font-size:18px;padding-top:10px ;">
					<li class="col-md-1"></li>
					<li class="active"> <a href="index.html">网站首页</a></li>
					<li class="col-md-1"></li>
					<li><a href="main.html">在线下单</a></li>
					<li class="col-md-2"></li>
					<#if user??>
					<span class="glyphicon glyphicon-user" style="padding-top: 10px;"></span><a href="login.html" style="font-size: 14px;margin-left: 15px;">${user.username}</a>
					<#else>
					<span class="glyphicon glyphicon-user" style="padding-top: 10px;"></span><a href="login.html" style="font-size: 14px;margin-left: 15px;">登录</a>
					|<a href="register.html" style="font-size: 14px;display: inline;padding-left: 5px;">注册</a>
				</#if>
				</ul>
			</div>
		</div>
			<h1 class="text-center"><strong>确认订单</strong></h1>	
		<div class="container" style="height: 500px;border: #000000 1px solid;">
			<input class="hidden1" type="hidden" value="${train.trainday.t_id}">
			<div class="row panel-body">
				<div class="col-md-offset-4 col-md-4 text-center">
					<span class="place1"><strong>${train.startstation}</strong></span>&nbsp;&nbsp; -->
					<span class="place2"><strong>${train.endstation}</strong></span>
					&nbsp;&nbsp;
					(<span ><strong class="time">${train.trainday.day}</strong></span>)

					<!-- 共计<span id="train">
						<strong>1</strong>
					</span>
					个车次 -->
				</div>
			</div>
			<!-- borderd代表有边框，striped代表隔层有颜色 table-hover选择后高亮  table-condensed让格子更加紧凑-->
			<table class="table table-bordered text-center table-striped table-hover table-condensed ">
				<tr  style="background-color: #3b99fc;height: 50px;font-size: 20px;color: white;">
					<th style="vertical-align: middle;" class="text-center">车次</th>
					<th style="vertical-align: middle;" class="text-center">出发站</th>
					<th style="vertical-align: middle;" class="text-center">到达站</th>
					<th style="vertical-align: middle;" class="text-center">剩余货箱数</th>
					<th style="vertical-align: middle;" class="text-center">价格</th>
					<th style="vertical-align: middle;" class="text-center">所需车箱数</th>
					<th style="vertical-align: middle;" class="text-center">总计</th>
				</tr>
				<tr class="order_lists">
					<td>${train.trainid}</td>
					<td>株洲</td>
					<td>${train.endstation}</td>
					<td >${train.trainday.leftcarriage}</td>
					<td class="price">￥${train.price}</td>
					<td>
						<div class="amount_box">
							<a href="javascript:;" class="reduce reSty btn-sm" style="text-decoration: none;background-color: lightgray;">&nbsp;<strong>-</strong>&nbsp;</a>
							<input type="text" value="1" class="sum carriage" class="form-control" style="height: 23px;width: 41px;">
							<a href="javascript:;" class="plus btn-sm" style="text-decoration: none;background-color: lightgray;">+</a>
						</div>
					</td>
					<td class="sum_price">￥${train.price}</td>
				</tr>
			</table>
			<button style="margin-top: 50px;" onclick="pay()" class="btn btn-success col-md-offset-4 col-md-4" id="close">支付宝支付</button>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-center">2021@zhudinghuan &nbsp;&nbsp;&nbsp;&nbsp;版权所有，侵权必究</h4>
			</div>

		</div>
	</body>
</html>
<script type="text/javascript">
	var $plus = $('.plus'),
			$reduce = $('.reduce'),
			$all_sum = $('.sum');
	$plus.click(function() {
		var $inputVal = $(this).prev('input'),
				$count = parseInt($inputVal.val()) + 1,
				$obj = $(this).parents('.amount_box').find('.reduce'),
				$priceTotalObj = $(this).parents('.order_lists').find('.sum_price'),
				$price = $(this).parents('.order_lists').find('.price').html(), //单价
				$priceTotal = $count * parseInt($price.substring(1));
		$inputVal.val($count);
		$priceTotalObj.html('￥' + $priceTotal);
		if ($inputVal.val() > 1 && $obj.hasClass('reSty')) {
			$obj.removeClass('reSty');
		}
		// totalMoney();
	});

	$reduce.click(function() {
		var $inputVal = $(this).next('input'),
				$count = parseInt($inputVal.val()) - 1,
				$priceTotalObj = $(this).parents('.order_lists').find('.sum_price'),
				$price = $(this).parents('.order_lists').find('.price').html(), //单价
				$priceTotal = $count * parseInt($price.substring(1));
		if ($inputVal.val() > 1) {
			$inputVal.val($count);
			$priceTotalObj.html('￥' + $priceTotal);
		}
		if ($inputVal.val() == 1 && !$(this).hasClass('reSty')) {
			$(this).addClass('reSty');
		}
		// totalMoney();
	});

	$all_sum.keyup(function() {
		var $count = 0,
				$priceTotalObj = $(this).parents('.order_lists').find('.sum_price'),
				$price = $(this).parents('.order_lists').find('.price').html(), //单价
				$priceTotal = 0;
		if ($(this).val() == '') {
			$(this).val('1');
		}
		$(this).val($(this).val().replace(/\D|^0/g, ''));
		$count = $(this).val();
		$priceTotal = $count * parseInt($price.substring(1));
		$(this).attr('value', $count);
		$priceTotalObj.html('￥' + $priceTotal);
		// totalMoney();
	})
</script>
<script>
	function pay() {
		var hadden1=document.getElementsByClassName('hidden1').item(0).value;
		var sum_price=document.getElementsByClassName('sum_price').item(0).innerHTML;
		var sum_price1=sum_price.substring(1,sum_price.length);
		var carriage=document.getElementsByClassName('sum').item(0).value;
		var day=document.getElementsByClassName('time').item(0).innerHTML;
		this.location.href="alipay?id="+hadden1+"&totalprice="+sum_price1+"&carriage="+carriage+"&day="+day;
	}
</script>
</html>

