<?xml version="1.0" encoding="utf-8" ?>
<!--指定约束文件 作用是检查文件语法-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zhuzhourailway.Model.Dao.TrainMapper">
    <resultMap id="trainAndDay" type="com.example.zhuzhourailway.Model.Pojo.Train">
        <id property="id" column="id"></id>
        <result property="trainid" column="trainid"></result>
        <result property="startstation" column="startstation"></result>
        <result property="endstation" column="endstation"></result>
        <result property="starttime" column="starttime"></result>
        <result property="endtime" column="endtime"></result>
        <result property="price" column="price"></result>
        <result property="overday" column="overday"></result>
<!--        一对一的映射配置-->
        <association property="trainday" javaType="com.example.zhuzhourailway.Model.Pojo.Trainday">
            <id column="t_id" property="t_id"></id>
            <result property="day" column="day"></result>
            <result property="id" column="id"></result>
            <result property="leftcarriage" column="leftcarriage"></result>
        </association>
    </resultMap>
<select id="selecttrain" resultMap="trainAndDay">
    select train.*,train_day.* from train right join train_day on train_day.id=train.id where endstation=#{endstation} and day=#{day}
</select>
    <select id="selecttrainbyid" resultMap="trainAndDay" parameterType="int">
         select train.*,train_day.* from train right join train_day on train_day.id=train.id where t_id=#{id}
    </select>
    <update id="updateTrain" parameterType="int">
        update train_day set leftcarriage=#{param1} where t_id=#{param2}
    </update>
</mapper>